body{
    background-image: url("../images/background-curve.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: 18px;
    word-break: break-word;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.hidden{
    display: none;
}

.scale{
    box-shadow: 5px 5px 5px #000000;
    transform: scale(3);
}

div, form, nav{
    display: flex;
}

a:link, a:visited, a:active {
  color: #000000;
}

nav{
    justify-content: space-around;
    background: rgba(217, 245, 255, 0.5);
    margin: 0 0 20px 0;
}

nav a{
    padding: 20px 50px;
    outline: none;
    text-decoration: none;
}

nav a:hover{
    background: rgba(217, 245, 255, 0.5);
}

.main{
    flex-direction: column;
    align-items: center;
}

.table{
    flex-direction: column;
    margin: 0 0 50px 0;
    width: min-content;
    background-color: #d9f5ff;
}

.title-row, .far-row{
    height: 50px;
}

far-row{
    width: 100%;
}

.table-cell{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 5px;
    transition-duration: 500ms;
    width: 100%;
}

.big-data-cell{
    width: 200px;
}

.small-data-cell{
    width: 100px;
}

.image-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="number"], input[type="text"]{
    width: 100%;
}

textarea{
    width: 100%;
    height: 100%;
    resize: none;
}

.button{
    cursor: pointer;
    font-family: serif;
    line-height: 24px;
    font-size: 18px;
    box-shadow: 0 0 2px 4px #9fe5ff;
    border: 0;
    background-color: #9fe5ff;
    width: 100%;
    height: 100%;
    transition-duration: 500ms;
}

.button:hover{
    box-shadow: none;
    background-color: #d7c9ff;
}

.good-image{
    transition-duration: 200ms;
    width: 50%;
    cursor: pointer;
}

label{
    height: 30%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px 0px 20px;
    cursor: pointer;
}

label:hover{
    border-right: 1px solid;
    border-bottom: 1px solid;
}