body{
    background-image: url("../images/background-curve.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: 18px;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.hidden{
    display: none;
}

a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

a:link, a:visited, a:active {
  color: #000000;
}

nav{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    background: rgba(217, 245, 255, 0.5);
    margin: 0 0 20px 0;
}

nav>a{
    padding: 20px 40px;
}

nav>a:hover{
    background: rgba(217, 245, 255, 0.5);
}

h3{
    white-space: nowrap;
}

main{
    width: 100%;
    overflow-x: auto;
}

.table{
    width: fit-content;
    margin: 0 50px 50px;
    background: rgba(217, 245, 255, 0.5);
}

.table-row{
    display: flex;
    width: fit-content;
}

.table> :last-child{
    width: 100%;
}

.table-cell{
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 5px;
    transition-duration: 500ms;
}

.table> :last-child > .table-cell{
    width: 100%;
}

.col-50{width:50px;}
.col-100{width:100px;}
.col-150{width:150px;}
.col-200{width:200px;}

#input-selector{
    display: none;
}

input{
    text-align: center;
}

input[type="number"], input[type="text"]{
    width: 100%;
}

textarea{
    width: 100%;
    height: 100%;
    resize: none;
    transition-duration: 300ms;
    z-index: 1;
}

textarea:hover{
    width: 200%;
}

.button{
    cursor: pointer;
    font-family: serif;
    line-height: 24px;
    font-size: 18px;
    box-shadow: 0 0 2px 4px #9fe5ff;
    border: 0;
    background-color: #9fe5ff;
    width: 100%;
    height: 100%;
    transition-duration: 300ms;
}

.button:hover{
    box-shadow: none;
    background-color: #d7c9ff;
}

.cell-image{
    width: 100%;
}

label{
    width: 100%;
    cursor: pointer;
}

label:hover{
    box-shadow: 0 0 10px #000000;
}

.ul{
    overflow: auto;
    justify-content: start;
    max-height: 200px;
}

.ul-li{
    align-self: start;
    text-align: left;
    border-bottom: 1px solid #000000;
    margin: 0 0 5px 0;
}

.ul > :last-child{
    margin: 0;
    border-bottom: 0;
}