a{text-decoration: none;}

body{
    margin:0;
    color: #ffffff;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    background-color:rgb(246, 235, 255);
}

.header{
    background-color: #7259a7;
    display: flex;
    justify-content: space-around;
}

.header div{
    padding:0 20px 0 20px;
    height:100%;
}

.goodsBlock{
    background-color: #8579d6;
    margin:0 15% 0 15%;
    padding:0;
}

.chapter{
    display:flex;
    justify-content: space-between;
}

.chapter div{
    padding:0 2% 0 2%;
    margin:1% 1% 1% 1%;
}

.goodList{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    align-items:flex-start;
}

.goodList p{
    margin:6px;
}

.good{
    margin:1%;
    width:23%;
    border-radius:10px;
    box-shadow:1px 1px 10px rgba(0, 0 , 0, 1);
}

.good img{
    max-width:100%;
    border-radius:10px 10px 0px 0px;
}

.update div:hover, .addBtn:hover, button:hover{
    box-shadow:1px 1px 10px rgba(0, 0 , 0, 1);
}

.addBtn{
    display:flex;
    margin: auto 1% auto 1%;
    padding:10px;
    border-radius:50%;
}

.addBtn img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.updateForm{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:0 2% 5% 2%;
}

button{
    background-color:#644084;
    padding:5px;
    border:0px;
    border-radius:5px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.addForm:invalid{ box-shadow:1px 1px 10px rgba(255, 0 , 0, 1); }
.addForm:valid{ box-shadow:1px 1px 10px rgba(0, 255 , 0, 1); }

.addForm{
    padding:7px;
    margin:1% 1% 1% 1%;
    border-radius:10px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:column;
}

.addForm div {
    margin:7px;
    display:flex;
}

.imgDiv{
    align-items:flex-start;
    flex-direction:column;
}

.checkDiv{ justify-content: flex-start; }

.btnDiv{ justify-content: space-around; }

.inputDiv{ justify-content: space-between; }
