html{
    scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: #864044;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #FFFFFF;
    color: #864044;
    font-size: 20px;
    text-align: center;
    overflow: overlay;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #FFF1E1;
    text-align: left;
}

header > div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

header > :last-child > *{
    padding: 5px 10px;
}

header > :last-child{
    margin: 5px 0;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #F5D8B7D9;
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav > a{
    padding: 10px 50px;
}

main{
    background-color: #fff8f0;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10% 0 10%;
}

.title{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 10px 1%;
}

.good-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.good-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #000000;
    width: 250px;
    height: 350px;
    margin: 10px;
}

.image-block{
    display: flex;
    border-radius: 10px 10px 0 0;
    flex-direction: column;
    width: 250px;
    height: 250px;
}

.icon-block{
    display: flex;
    position: absolute;
    width: 250px;
    height: 250px;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}

.icon-case{
    height: 32px;
    width: 32px;
}

img{
    border-radius: inherit;
    width: 100%;
    height: 100%;
}

button{
    padding: 5px;
    background-color: #FFF8F0;
    border-width: 0;
    border-radius: 10px;
    color: #864044;
    font-size: 20px;
    font-family: serif;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: #FFF1E1;
    box-shadow: 0px -2px 10px #000000;
}

button:active{
    box-shadow: none;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF8F066;
    z-index: 1000;
}

.modal-window{
    display: flex;
    background-color: #FFF8F0;
    border: 2px solid #FFF1E1;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 100px 10px #000000;
    flex-direction: column;
}

.modal-window > *{
    margin: 0 0 5px 0;
}

.modal-window > :last-child{
    margin: 0;
}

.modal-window > :first-child{
    align-self: end;
    width: 30%;
    margin: 0;
}

.popup{
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    height: 310px;
    width: 250px;
}

.popup-text{
    padding: 10px;
    border-radius: 30px 30px 0 30px;
    background-color: #FFFFFF;
    z-index: 10;
}

.toggle{
    cursor: pointer;
}

.hidden{
    display: none;
}