<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=/">
    <title>Title</title>
    <style>
        div{
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        .timer{
            font-size:30px;
            font-weight:bold;
            color:red;
        }
    </style>
</head>
<body>
    <div>
        <H1>не удалось</H1>
        <p>Через 3 секунды вы вернетесь на гланую страницу</p>
        <p class="timer"></p>
    </div>
    <script>
        let timeout = 3;
        let p = document.querySelector('.timer');
        function dec(){
            p.innerText = timeout;
            timeout-=1;
        }
        dec();
        setInterval(dec, 1000);
    </script>
</body>
</html>