<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restapp</title>
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/good.js"></script>
</head>
<body>
<div class="table">
    <div class="table-row">
        <div class="table-cell"></div>
        <div class="table-cell"><p>Название</p></div>
        <div class="table-cell"><p>Цена</p></div>
        <div class="table-cell"><p>Подходит вегетарицанцам</p></div>
        <div class="table-cell"><p>Имя изображения</p></div>
        <div class="table-cell"></div>
    </div>
    <div class="table-row" th:each="pizza:${pizzas}">
        <div class="table-cell"><p>Удалить</p></div>
        <div class="table-cell"><p th:text="${pizza.name}"></p></div>
        <div class="table-cell"><p th:text="${pizza.price}"></div>
        <div class="table-cell"><p th:text="${pizza.vegetarian}"></div>
        <div class="table-cell"><p th:text="${pizza.spicy}"></div>
        <div class="table-cell"><p th:text="${pizza.pizzaImg}"></div>
    </div>
    <form class="table-row" method="post" action="/good" name="add-pizza-form"  id="add-pizza-form">
        <div class="table-cell">
            <button type="reset">Отменить</button>
        </div>
        <div class="table-cell">
            <input type="text" minlength="3" maxlength="20" name="pizzaName" required>
        </div>
        <div class="table-cell">
            <input type="number" step="0.1" min="0" max="100" name="pizzaPrice" required>
        </div>
        <div class="table-cell">
            <input type="checkbox" name="pizzaIsVegetarian">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="pizzaIsSpicy">
        </div>
        <div class="table-cell">
            <label for="pizza-image-add-input"><p>Вставить картинку</p></label>
            <input type="file" accept="image/*" id="pizza-image-add-input" name="pizzaImage" required>
        </div>
        <div class="table-cell">
            <button>Добавить</button>
        </div>
    </form>
    <form class="table-row" method="post" action="/good" name="update-pizza-form" id="update-pizza-form">
        <div class="table-cell">
            <button type="reset">Отменить</button>
        </div>
        <div class="table-cell">
            <input type="text" minlength="3" maxlength="20" name="pizzaName" required>
        </div>
        <div class="table-cell">
            <input type="number" step="0.1" min="0" max="100" name="pizzaPrice" required>
        </div>
        <div class="table-cell">
            <input type="checkbox" name="pizzaIsVegetarian">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="pizzaIsSpicy">
        </div>
        <div class="table-cell">
            <label for="pizza-image-update-input"><p>Вставить картинку</p></label>
            <input type="file" accept="image/*" id="pizza-image-update-input" name="pizzaImage" required>
        </div>
        <div class="table-cell">
            <button>Применить</button>
        </div>
    </form>
    <div class="table-row">
        <div class="table-cell" id="show-add-pizza-button" data-toggle-id="add-pizza-form"><p>Добавить пиццу</p></div>
    </div>
</div>
<div class="table">
    <div class="table-row">
        <div class="table-cell"></div>
        <div class="table-cell"><p>Название</p></div>
        <div class="table-cell"><p>Цена</p></div>
        <div class="table-cell"><p>Подходит вегетарицанцам?</p></div>
        <div class="table-cell"><p>Теплый?</p></div>
        <div class="table-cell"><p>Имя изображения</p></div>
        <div class="table-cell"></div>
    </div>
    <div class="table-row" th:each="salad:${salads}">
        <div class="table-cell"><p>Удалить</p></div>
        <div class="table-cell"><p th:text="${salad.name}"></p></div>
        <div class="table-cell"><p th:text="${salad.price}"></div>
        <div class="table-cell"><p th:text="${salad.vegetarian}"></div>
        <div class="table-cell"><p th:text="${salad.warm}"></div>
        <div class="table-cell"><p th:text="${salad.saladImg}"></div>
    </div>
    <form class="table-row" method="post" action="/good" name="add-salad-form"  id="add-salad-form">
        <div class="table-cell">
            <button type="reset">Отменить</button>
        </div>
        <div class="table-cell">
            <input type="text" minlength="3" maxlength="20" name="saladName" required>
        </div>
        <div class="table-cell">
            <input type="number" step="0.1" min="0" max="100" name="saladPrice" required>
        </div>
        <div class="table-cell">
            <input type="checkbox" name="saladIsVegetarian">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="saladIsWarm">
        </div>
        <div class="table-cell">
            <label for="salad-image-add-input"><p>Вставить картинку</p></label>
            <input type="file" accept="image/*" id="salad-image-add-input" name="saladImage" required>
        </div>
        <div class="table-cell">
            <button>Добавить</button>
        </div>
    </form>
    <form class="table-row" method="post" action="/good" name="update-salad-form" id="update-salad-form">
        <div class="table-cell">
            <button type="reset">Отменить</button>
        </div>
        <div class="table-cell">
            <input type="text" minlength="3" maxlength="20" name="saladName" required>
        </div>
        <div class="table-cell">
            <input type="number" step="0.1" min="0" max="100" name="saladPrice" required>
        </div>
        <div class="table-cell">
            <input type="checkbox" name="saladIsVegetarian">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="saladIsWarm">
        </div>
        <div class="table-cell">
            <label for="salad-image-update-input"><p>Вставить картинку</p></label>
            <input type="file" accept="image/*" id="salad-image-update-input" name="saladImage" required>
        </div>
        <div class="table-cell">
            <button>Применить</button>
        </div>
    </form>
    <div class="table-row">
        <div class="table-cell" id="show-add-salad-button" data-toggle-id="add-salad-form"><p>Добавить салат</p></div>
    </div>
</div>
<div class="table">
    <div class="table-row">
        <div class="table-cell"></div>
        <div class="table-cell"><p>Название</p></div>
        <div class="table-cell"><p>Цена</p></div>
        <div class="table-cell"><p>Алкогольный?</p></div>
        <div class="table-cell"><p>Теплый?</p></div>
        <div class="table-cell"><p>Газированый?</p></div>
        <div class="table-cell"><p>Содержит кофеин?</p></div>
        <div class="table-cell"><p>Имя изображения</p></div>
        <div class="table-cell"></div>
    </div>
    <div class="table-row" th:each="drink:${drinks}">
        <div class="table-cell"><p>Удалить</p></div>
        <div class="table-cell"><p th:text="${drink.name}"></p></div>
        <div class="table-cell"><p th:text="${drink.price}"></div>
        <div class="table-cell"><p th:text="${drink.alcohol}"></div>
        <div class="table-cell"><p th:text="${drink.warm}"></div>
        <div class="table-cell"><p th:text="${drink.gazed}"></div>
        <div class="table-cell"><p th:text="${drink.hasCaffeine}"></div>
        <div class="table-cell"><p th:text="${drink.drinkImg}"></div>
        <div class="table-cell"><p>Обновить</p></div>
    </div>
    <form class="table-row" method="post" action="/good" name="add-drink-form"  id="add-drink-form">
        <div class="table-cell">
            <button type="reset">Отменить</button>
        </div>
        <div class="table-cell">
            <input type="text" minlength="3" maxlength="20" name="drinkName" required>
        </div>
        <div class="table-cell">
            <input type="number" step="0.1" min="0" max="100" name="drinkPrice" required>
        </div>
        <div class="table-cell">
            <input type="checkbox" name="drinkIsAlcohol">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="drinkIsWarm">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="drinkIsGazed">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="drinkHasCaffeine">
        </div>
        <div class="table-cell">
            <label for="drink-image-add-input"><p>Вставить картинку</p></label>
            <input type="file" accept="image/*" id="drink-image-add-input" name="drinkImage" required>
        </div>
        <div class="table-cell">
            <button>Добавить</button>
        </div>
    </form>
    <form class="table-row" method="post" action="/good" name="update-drink-form" id="update-drink-form">
        <div class="table-cell">
            <button type="reset">Отменить</button>
        </div>
        <div class="table-cell">
            <input type="text" minlength="3" maxlength="20" name="drinkName" required>
        </div>
        <div class="table-cell">
            <input type="number" step="0.1" min="0" max="100" name="drinkPrice" required>
        </div>
        <div class="table-cell">
            <input type="checkbox" name="drinkIsAlcohol">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="drinkIsWarm">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="drinkIsGazed">
        </div>
        <div class="table-cell">
            <input type="checkbox" name="drinkHasCaffeine">
        </div>
        <div class="table-cell">
            <label for="drink-image-update-input"><p>Вставить картинку</p></label>
            <input type="file" accept="image/*" id="drink-image-update-input" name="drinkImage" required>
        </div>
        <div class="table-cell">
            <button>Применить</button>
        </div>
    </form>
    <div class="table-row">
        <div class="table-cell" id="show-add-drink-button" data-toggle-id="add-drink-form"><p>Добавить напиток</p></div>
    </div>
</div>
</body>
</html>