<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restapp</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>
<body>
    <header>
        <div>
            <a href="/"><h2>Restapp</h2></a>
        </div>
        <div>
            <h3>Время работы ресторана: 10:00-22:00 ежедневно</h3>
            <h3>Адресс: ул.Пушкина, дом Колотушкина</h3>
        </div>
        <div th:if="${user}">
            <div><h4 th:text="'Привет ' + ${user.username}"></h4></div>
            <div th:if="${isAdmin}"><a href="/admin/goods"><h4>Редактирование</h4></a></div>
            <div><a href="/logout"><h4>Выход</h4></a></div>
        </div>
        <div th:unless="${user}">
            <div class="toggle"><h4>Вход</h4></div>
            <div><a href="/registration"><h4>Регистрация</h4></a></div>
        </div>
    </header>
    <nav>
        <div><a href="#pizza"><h3>Пицца</h3></a></div>
        <div><a href="#salad"><h3>Салаты</h3></a></div>
        <div><a href="#drink"><h3>Напитки</h3></a></div>
    </nav>
    <main>
        <div class="title" id="pizza"><h3>Пицца</h3></div>
        <div class="good-block">
            <div class="good-data" th:each="pizza:${pizzas}">
                <div class="image-block">
                    <img th:src="@{'/images/' + ${pizza.pizzaImg}}">
                    <div class="icon-block">
                        <div class="icon-case" th:if="${pizza.isSpicy}">
                            <img src="/images/icon-spicy.png" title="Острая">
                        </div>
                        <div class="icon-case" th:if="${pizza.isVegetarian}">
                            <img src="/images/icon-vegan.png" title="Вегетарианская">
                        </div>
                    </div>
                </div>
                <h4 th:text="${pizza.good.goodName}"></h4>
                <h4 th:text="${pizza.good.goodPrice}"></h4>
                <button class="popup-toggle" type="button">Подробнее</button>
                <div class="popup">
                    <div class="popup-text">
                        <h4 th:text="${pizza.good.goodDescription}"></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="title" id="salad"><h3>Салаты</h3></div>
        <div class="good-block">
            <div class="good-data" th:each="salad:${salads}">
                <div class="image-block">
                    <img th:src="@{'/images/' + ${salad.saladImg}}">
                    <div class="icon-block">
                        <div class="icon-case" th:if="${salad.isWarm}">
                            <img src="/images/icon-hot.png" title="Теплый">
                        </div>
                        <div class="icon-case" th:if="${salad.isVegetarian}">
                            <img src="/images/icon-vegan.png" title="Вегетарианский">
                        </div>
                    </div>
                </div>
                <h4 th:text="${salad.good.goodName}"></h4>
                <h4 th:text="${salad.good.goodPrice}"></h4>
                <button class="popup-toggle" type="button">Подробнее</button>
                <div class="popup">
                    <div class="popup-text">
                        <h4 th:text="${salad.good.goodDescription}"></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="title" id="drink"><h3>Напитки</h3></div>
        <div class="good-block">
            <div class="good-data" th:each="drink:${drinks}">
                <div class="image-block">
                    <img th:src="@{'/images/' + ${drink.drinkImg}}">
                    <div class="icon-block">
                        <div class="icon-case" th:if="${drink.isWarm}">
                            <img src="/images/icon-hot.png" title="Горячий">
                        </div>
                        <div class="icon-case" th:if="${drink.isAlcohol}">
                            <img src="/images/icon-alcohol.png" title="Алкогольный">
                        </div>
                        <div class="icon-case" th:if="${drink.isGazed}">
                            <img src="/images/icon-gazed.png" title="Газированый">
                        </div>
                        <div class="icon-case" th:if="${drink.hasCaffeine}">
                            <img src="/images/icon-coffee.png" title="Содержит Кофеин">
                        </div>
                    </div>
                </div>
                <h4 th:text="${drink.good.goodName}"></h4>
                <h4 th:text="${drink.good.goodPrice}"></h4>
                <button class="popup-toggle" type="button">Подробнее</button>
                <div class="popup">
                    <div class="popup-text">
                        <h4 th:text="${drink.good.goodDescription}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="modal">
        <form class="modal-window" method="post">
            <button type="button" class="toggle">x</button>
            <h4>Логин:</h4>
            <input type="text" name="username" placeholder="логин" maxlength="50" required>
            <h4>Пароль:</h4>
            <input type="password" name="password" placeholder="пароль" maxlength="50"  required>
            <button>Войти</button>
            <h4>Попробуйте еще раз</h4>
        </form>
    </div>
    <footer></footer>
</body>
</html>