<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restapp</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div>
    <div>
        <div class="header"><p>LOGO</p></div>
        <div class="header"><p>инфо</p></div>
        <div class="header"><p>логин</p></div>
        <div class="header"><p>корзина</p></div>
    </div>
    <div>
        <div class="goods" th:each="pizza:${pizzas}">
            <div><p th:text="${pizza.getName()}"></p></div>
            <div><p th:text="${pizza.getPrice()}"></p></div>
        </div>
    </div>
</div>
</body>
</html>