<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restapp</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>
<body>
    <header>
        <div>
            <a href="/">Restapp</a>
        </div>
        <div>
            <p>Время работы ресторана: 10:00-22:00 ежедневно</p>
            <p>Адресс: ул.Пушкина, дом Колотушкина</p>
        </div>
        <div th:if="${user}">
            <div th:text="${user.username}"></div>
            <div><a href="/logout">Выход</a></div>
        </div>
        <div th:unless="${user}">
            <div class="toggle">Вход</div>
            <div><a href="/registration">Регистрация</a></div>
        </div>
    </header>
    <nav>
        <div><a href="#pizza">Пицца</a></div>
        <div><a href="#salad">Салаты</a></div>
        <div><a href="#drink">Напитки</a></div>
    </nav>
    <main>
        <div class="title" id="pizza">Пицца</div>
        <div class="good-block">
            <div class="good-data" th:each="pizza:${pizzas}">
                <div class="image-block">
                    <img th:src="@{'/images/' + ${pizza.pizzaImg}}" alt="image">
                    <div class="icon-block">
                        <div class="icon-case" th:if="${pizza.isSpicy}">
                            <img src="/images/icon-spicy.png" title="Острая">
                        </div>
                        <div class="icon-case" th:if="${pizza.isVegetarian}">
                            <img src="/images/icon-vegan.png" title="Вегетарианская">
                        </div>
                    </div>
                </div>
                <p th:text="${pizza.good.goodName}"></p>
                <p th:text="${pizza.good.goodPrice}"></p>
                <button type="button">Подробнее</button>
            </div>
        </div>
        <div class="title" id="salad">Салаты</div>
        <div class="good-block">
            <div class="good-data" th:each="salad:${salads}">
                <div class="image-block">
                    <img th:src="@{'/images/' + ${salad.saladImg}}" alt="image">
                    <div class="icon-block">
                        <div class="icon-case" th:if="${salad.isWarm}">
                            <img src="/images/icon-hot.png" title="Теплый">
                        </div>
                        <div class="icon-case" th:if="${salad.isVegetarian}">
                            <img src="/images/icon-vegan.png" title="Вегетарианский">
                        </div>
                    </div>
                </div>
                <p th:text="${salad.good.goodName}"></p>
                <p th:text="${salad.good.goodPrice}"></p>
                <button type="button">Подробнее</button>
            </div>
        </div>
        <div class="title" id="drink">Напитки</div>
        <div class="good-block">
            <div class="good-data" th:each="drink:${drinks}">
                <div class="image-block">
                    <img th:src="@{'/images/' + ${drink.drinkImg}}">
                    <div class="icon-block">
                        <div class="icon-case" th:if="${drink.isWarm}">
                            <img src="/images/icon-hot.png" title="Горячий">
                        </div>
                        <div class="icon-case" th:if="${drink.isAlcohol}">
                            <img src="/images/icon-alcohol.png" title="Алкогольный">
                        </div>
                        <div class="icon-case" th:if="${drink.isGazed}">
                            <img src="/images/icon-gazed.png" title="Газированый">
                        </div>
                        <div class="icon-case" th:if="${drink.hasCaffeine}">
                            <img src="/images/icon-coffee.png" title="Содержит Кофеин">
                        </div>
                    </div>
                </div>
                <p th:text="${drink.good.goodName}"></p>
                <p th:text="${drink.good.goodPrice}"></p>
                <button type="button">Подробнее</button>
            </div>
        </div>
    </main>
    <div class="modal">
        <form class="modal-window" method="post">
            <button type="button" class="toggle">x</button>
            <p>Логин:</p>
            <input type="text" name="username" placeholder="логин" maxlength="50" required>
            <p>Пароль:</p>
            <input type="password" name="password" placeholder="пароль" maxlength="50"  required>
            <button>Войти</button>
            <p>Попробуйте еще раз</p>
        </form>
    </div>
    <footer></footer>
</body>
</html>