<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restapp ingredients updating</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<nav>
    <a href="/"><h3>Главная cтраница</h3></a>
    <a href="/admin/ingredients"><h3>Ингредиенты</h3></a>
    <a href="/admin/properties"><h3>Свойства</h3></a>
    <a href="/admin/units"><h3>Ед измерения</h3></a>
    <a href="/admin/users"><h3>Пользователи</h3></a>
    <a href="/admin/categories"><h3>Категории</h3></a>
    <a href="/admin/goods"><h3>Товары</h3></a>
</nav>
<main>
    <div class="table">
        <div class="table-row">
            <div class="table-cell col-100">Название</div>
            <div class="table-cell col-100">Граммовка</div>
            <div class="table-cell col-100">Ед измерения</div>
        </div>
        <form class="table-row" method="post" action="/admin/ingredients/ingredients-update" id="form-update">
            <div class="table-cell col-100">
                <input type="text" name="name" minlength="2" maxlength="32" th:value="${ingredient.ingredientName}">
            </div>
            <div class="table-cell col-100">
                <input type="number" name="weight" min="0" max="1000" step="0.001" th:value="${ingredient.ingredientWeight}">
            </div>
            <div class="table-cell ul col-100">
                <th:block th:each="unit:${units}">
                    <div class="ul-li">
                        <input name="unitId" type="radio" th:value="${unit.unitId}" th:id="'input-unit-'+${unit.unitId}">
                        <label th:text="${unit.unitName}" th:for="'input-unit-'+${unit.unitId}"></label>
                    </div>
                </th:block>
            </div>
            <script th:inline="javascript">
                let unitInputs = document.querySelectorAll("input[id^='input-unit-']");
                let ingredient = [[${ingredient}]];
                unitInputs.forEach(input=>{
                    if(ingredient.ingredientUnit.unitId == input.value){
                        input.checked = 'checked';
                    }
                });
            </script>
        </form>
        <div class="table-row">
            <div class="table-cell">
                <button class="button" name="ingredientId" th:value="${ingredient.ingredientId}"
                        form="form-update">Сохранить</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>