<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
<div class="wrapper">
    <form class="main" method="post">
        <p>имя</p>
        <input name="userName" placeholder="ник">
        <p>пароль</p>
        <input name="userPassword" placeholder="пароль">
        <p>повторить пароль</p>
        <input name="userPasswordRepeat" placeholder="пароль х2">
        <button>зарегистрировать</button>
        <a href="/">на главную</a>
        <H2 th:if="${error}">Никнейм занят</H2>
    </form>
</div>
</body>
</html>